/* Colors */
/* Primary Brand Color - Blue with shades and tints */
/* Secondary Brand color - Yellow with shades and tints */
/* Secondary Brand color - Red with shades and tints */
/* Neutral Colors */
/* Colors End */
/* fonts */
body {
  background-color: #F7F7FF;
}

html {
  scroll-behavior: smooth;
}

hr {
  width: 50%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  border-color: #CCC;
}

/* Navbar START */
.navbar {
  background-color: #6cc0e5;
}
.navbar .navbar-brand {
  color: #F7F7FF;
  font-family: "Open Sans", sans-serif;
}
.navbar .navbar-nav .nav-item .nav-link {
  color: #F7F7FF;
  font-family: "Open Sans", sans-serif;
}

/* Navbar END */
/* About Me START */
#go2about {
  padding-top: 20px;
}

.container-fluid .profilePicture {
  border-radius: 50%;
  border: 7px solid #6cc0e5;
  width: 250px;
  height: 250px;
  display: block;
  margin: auto;
}
.container-fluid .about-me h2 {
  padding-top: 2rem;
  font-family: "Open Sans", sans-serif;
}
.container-fluid .about-me .web-dev {
  color: #fb4f4f;
}
.container-fluid .about-me .full-stack {
  color: #fabb0b;
}
.container-fluid p {
  font-family: "Raleway", sans-serif;
}
.container-fluid ul li {
  font-family: "Raleway", sans-serif;
}

/* About Me END */
/* Education and Career START*/
#go2educareer {
  position: relative;
  top: -56px;
}

.container-fluid .educareer-icons h2 {
  font-family: "Open Sans", sans-serif;
}
.container-fluid .educareer-icons p {
  font-family: "Raleway", sans-serif;
}
.container-fluid .educareer-icons .fa-briefcase {
  font-size: 4em;
  padding: 10px;
}
.container-fluid .educareer-icons .fa-graduation-cap {
  font-size: 4em;
  padding: 10px;
}

/* Education and Career END*/
/* Project Start*/
#go2projects {
  position: relative;
  top: -56px;
}

.container-fluid .projects {
  font-family: "Open Sans", sans-serif;
  padding-bottom: 1rem;
}
.container-fluid .fa-project-diagram {
  font-size: 4em;
  padding: 10px;
}
.container-fluid .card-padding {
  padding: 1rem;
}
.container-fluid .card {
  width: auto;
  height: 100%;
}
.container-fluid .card:hover {
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.15);
}
.container-fluid .card .card-img-top {
  width: 90%;
  padding: 1em;
  margin: auto;
}

/* Project End */
/* Carousel (Internet History) Start*/
#go2carousel {
  position: relative;
  top: -56px;
}

.carousel {
  width: 95%;
  height: auto;
  margin: auto;
}
.carousel .carousel-item img {
  width: 100%;
  height: auto;
}
.carousel .carousel-item .carousel-caption {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
}
.carousel .carousel-item h3 {
  font-family: "Open Sans", sans-serif;
  color: #F7F7FF;
}

/* Carousel (Internet History) End */
/* Skills Start */
#go2skills {
  position: relative;
  top: -56px;
}

.container-fluid .skills {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
.container-fluid .skills-icons {
  font-size: 5em;
  text-align: center;
}

/* Skills End */
/* Contact Me Icons Start*/
#go2contacts {
  position: relative;
  top: -56px;
}

.container-fluid .contact-me {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
.container-fluid .contact-icons {
  text-align: center;
}
.container-fluid .contact-icons .fa-envelope {
  font-size: 5em;
  color: #C8393B;
  padding: 10px;
  margin: 10px 30px;
}
.container-fluid .contact-icons .fa-github {
  font-size: 5em;
  color: #000;
  padding: 10px;
  margin: 10px 30px;
}
.container-fluid .contact-icons .fa-linkedin {
  font-size: 5em;
  color: #1275B1;
  padding: 10px;
  margin: 10px 30px;
}

/* Contact Me Icons End */
/* Footer Start */
.footer {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  text-align: center;
  padding-top: 10px;
}

/* Footer End */
/* Internet Start html */
#go2internet-history {
  position: relative;
  top: -56px;
}

#go2internet-networking {
  position: relative;
  top: -56px;
}

#go2internet-tech {
  position: relative;
  top: -56px;
}

.container-fluid .internet-history h3 {
  font-family: "Open Sans", sans-serif;
  color: #fb4f4f;
}
.container-fluid .internet-history ul li {
  font-family: "Raleway", sans-serif;
}
.container-fluid .networking h3 {
  font-family: "Open Sans", sans-serif;
  color: #6cc0e5;
}
.container-fluid .networking p {
  font-family: "Raleway", sans-serif;
}
.container-fluid .internet-tech h3 {
  font-family: "Open Sans", sans-serif;
  color: #fbc93d;
}
.container-fluid .internet-tech p {
  font-family: "Raleway", sans-serif;
}

/* Internet End html */
/* Project App html Start */
#go2project {
  position: relative;
  top: -56px;
}

/* Project App html End */
/* Media Queries Start */
@media (max-width: 768px) {
  .carousel-caption {
    top: 55%;
  }

  .carousel-caption h3 {
    font-size: 300%;
  }
}
@media (max-width: 576px) {
  .carousel-caption {
    top: 50%;
  }

  .carousel-caption h3 {
    font-size: 200%;
  }

  .carousel-caption .btn {
    font-size: 70%;
  }
}
@media (max-width: 440px) {
  .carousel-caption {
    top: 50%;
  }

  .carousel-caption h3 {
    font-size: 150%;
  }

  .carousel-caption .btn {
    font-size: 60%;
  }
}
@media (max-width: 360px) {
  .carousel-caption {
    top: 25%;
  }

  .carousel-caption h3 {
    font-size: 100%;
  }

  .carousel-caption .btn {
    font-size: 20%;
  }

  .carousel-indicators {
    display: none;
  }
}
/* Media Queries End */
/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

/*# sourceMappingURL=main.css.map */
