.horizontal-line {
    height: 2.5px;
    background-color: #E6E6E6;
    width: 90vw;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-image: linear-gradient(left , #F5EDF0 2%, #E6E6E6 50%, #F5EDF0 98%);
    background-image: -o-linear-gradient(left , #F5EDF0 2%, #E6E6E6 50%, #F5EDF0 98%);
    background-image: -moz-linear-gradient(left , #F5EDF0 2%, #E6E6E6 50%, #F5EDF0 98%);
    background-image: -webkit-linear-gradient(left , #F5EDF0 2%, #E6E6E6 50%, #F5EDF0 98%);
    background-image: -ms-linear-gradient(left , #F5EDF0 2%, #E6E6E6 50%, #F5EDF0 98%);
    background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0.02, #F5EDF0), color-stop(0.5, gray), color-stop(0.98, #F5EDF0) );
}