@import 'logo';
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

body {
     overflow-x: hidden;
     background: #f7f7f7;
}

header {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 55px 10px;
    // margin: 100px 0px;
    
}

// font-family: 'Raleway', sans-serif;
// font-family: 'Fira Sans', sans-serif;
// .logo {
//     color: rbg(266,266,266);
//     text-transform: uppercase;
//     letter-spacing: 5px;
//     font-size: 22px;
// }

.nav-links {
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 0vh;
    background-color: #5D4954;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;

    a { 
        color: rgb(226,226,226);
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 50px;
    }

    li {
        list-style: none;
        opacity: 0;
    }
}

.burger {
    display: block;
    cursor: pointer;
    z-index: 2;
    position: absolute;
	top: 3%;
    right: 3%;
    float: right;

    div {
        width: 25px;
        height: 3px;
        background-color: black;
        margin: 5px;
        transition: all 0.3s ease;
    }
}

// Animates the transition of the navbar
.nav-active {
    transform: translateX(0%)
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
// Animates the burger menu itself
.toggleBurger {
    .line1 {
        transform: rotate(-45deg) translate(-5px,6px);
    }
    .line2 {
        opacity: 0;
    }
    .line3 {
        transform: rotate(45deg) translate(-5px,-6px);
    }
}

// Grid Layout
// .wrapper {
//     display: grid;
//     grid-gap: 20px;
// }

// Landing Page
.landing {
    display: grid;
    min-height: 100vh;
    grid-template-columns: [intro] 1fr [landing_picture] 1fr;
    background-image:  url('./../assets/landing-page.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position:  top right;
}

.intro {
    grid-column: intro; //not sure if this is needed here
    display: grid;
    grid-template-rows: 40vh 50px 40vh;
    grid-template-columns: [left-gutter] 100px [texts] auto [right-gutter] 100px;

    h1 {
        align-self: flex-end;
        justify-self: start;
        font-size: 70px;
        grid-column: texts / right-gutter;
        color: #2b2b2b;
        font-family: 'Fira Sans', sans-serif;
    }

    .svg-zig-zag {
        grid-column: texts / right-gutter;
        align-self: center;
    }

    p {
        grid-column: texts / right-gutter;
        font-family: 'Raleway', sans-serif;
     }
}

// .landing_picture {
//     background-image:  url('./../assets/landing-page.svg');
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: left;
// }

.works {
    display: grid;
    grid-gap: 20px; //dont think this is required
    grid-template-columns: [left-gutter] auto [cards] 1fr [right-gutter] auto;

    h1 {
        grid-column: cards / right-gutter;
        align-self: center;
        justify-self: center;
    }

    // Individual Cards
    .card {
        grid-column: cards / right-gutter;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 200px 200px;
        grid-template-areas: 
            "info image_and_link"
            "info image_and_link";
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px;

        .content {
            grid-area: info;
        }

        .image-and-links {
            grid-area: image_and_link;
            img {
                padding: 20px;
                width: 50%;
            }
        }
        
    }
}



@media (max-width: 768px) {
    .svg-circle,
    .logo-name {
    top: 5%;
    left: 10%;
    }
    .landing {
        grid-template-columns: [intro] 1fr;
        grid-template-rows: auto 0px;
        background-image:  none;
        .intro {
            grid-template-rows: 40vh 110px 40vh;
            grid-template-columns: [left-gutter] 50px [texts] 1fr [right-gutter] 50px;
            h1 {
                font-size: 60px;
                justify-self: center;
            }
            svg {
                left: 3%;
            }
        }
        
    }
    .works {
        .card {
            background: red;
            grid-template-areas: 
                "info info"
                "image_and_link image_and_link";
        }
    }
}

// Reference Chart for media queries
// Extra small (xs) devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
// Small (sm) devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }
// Medium (md) devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }
// Large (lg) devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }
// Extra (xl) large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }
// 