:root{
    --header-font: 'Fira Sans', sans-serif;
    --text-font: 'Raleway', sans-serif;
    --header-color: #2b2b2b;
    --text-color: #7D7C7A;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font);
    color: var(--header-font);
}

p, li, ul, a {
    font-family: var(--text-font);
    color: var(--text-color);
}

@import 'horizontal-line';
@import 'logo';


* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

html {
    font-size: 16px;
}


body {
     overflow-x: hidden;
    //  background: #f7f7f7;
     background: linear-gradient(120deg, #f7f7f7, #F5EDF0);
}

header {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 55px 10px;
    // margin: 100px 0px;
    
}

.nav-links {
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 0vh;
    background-color: #5D4954;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;

    a { 
        color: rgb(226,226,226);
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 5rem;
    }

    li {
        list-style: none;
        opacity: 0;
    }
}

.burger {
    display: block;
    cursor: pointer;
    z-index: 2;
    position: absolute;
	top: 3%;
    right: 3%;
    float: right;

    div {
        width: 25px;
        height: 3px;
        background-color: black;
        margin: 5px;
        transition: all 0.3s ease;
    }
}

// Animates the transition of the navbar
.nav-active {
    transform: translateX(0%)
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
// Animates the burger menu itself
.toggleBurger {
    .line1 {
        transform: rotate(-45deg) translate(-5px,6px);
    }
    .line2 {
        opacity: 0;
    }
    .line3 {
        transform: rotate(45deg) translate(-5px,-6px);
    }
}

// Grid Layout
// .wrapper {
//     display: grid;
//     grid-gap: 20px;
// }

// Landing Page
.landing {
    display: grid;
    min-height: 100vh;
    grid-template-columns: [intro] 1fr [landing_picture] 1fr;
    background-image:  url('./../assets/landing-page.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position:  top right;
}

// Intro
.intro {
    grid-column: intro; //not sure if this is needed here
    display: grid;
    grid-template-rows: 40vh 50px 40vh;
    grid-template-columns: [left-gutter] 100px [texts] auto [right-gutter] 100px;

    h1 {
        align-self: flex-end;
        justify-self: start;
        font-size: 5rem;
        grid-column: texts / right-gutter;
        color: #2b2b2b;
    }

    .svg-zig-zag {
        grid-column: texts / right-gutter;
        align-self: center;
    }

    p {
        grid-column: texts / right-gutter;
        // letter-spacing: 0.2rem;
        line-height: 2rem;
        font-size: 1.2rem;
     }
}

// Works Section
.works {
    display: grid;
    grid-gap: 20px; 
    padding-left: 20px;
    padding-right: 20px;
    grid-template-columns: [left-gutter] auto [cards] auto [right-gutter] auto;

    h1 {
        grid-column: cards / right-gutter;
        align-self: center;
        justify-self: center;
        font-size: 3rem;
    }

    // Individual Cards
    .card {
        grid-column: cards / right-gutter;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 250px 250px;
        grid-template-areas: 
            "info image_and_link"
            "info image_and_link";
        // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        // transition: 0.3s;
        box-shadow: 0px 0px 0px grey;
        -webkit-transition:  box-shadow .6s ease-out;
        box-shadow: .8px .9px 3px grey;
        border-radius: 30px;
        padding: 20px;

        &:hover {
            box-shadow: 1px 8px 20px grey;
            -webkit-transition: box-shadow .6s ease-in;
        }

        .content {
            grid-area: info;

            h2 {
                font-size: 2rem;
                text-align: center;
                padding-bottom: 10px;
            }

            p {
                line-height: 25px;
                padding-bottom: 10px;
            }

            h3 {
                font-size: 1.5rem;
                padding-bottom: 10px;
            }
            ul {
                list-style-position: inside;
                line-height: 30px;
            }
        }

        .image-and-links {
            grid-area: image_and_link;
            display: grid;
            grid-template-rows: auto auto;
            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 90%;
                height: 90%;
                object-fit: contain;
                padding-bottom: 10px;
            }

            .links {
                // text-align: center;
                display: flex;
                justify-content: space-evenly;
                a {
                    text-decoration: none;
                    padding: 10px;
                    button {
                        background-color: #0793E3;
                        border: none;
                        cursor: pointer;
                        color: white;
                        padding: 10px 20px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 1rem;
                        border-radius: 5px;
    
                        &:hover {
                            background-color: #004777;
                        }
                    }
                }
                
            }
        }
        
    }
}

// About Me Section
.about {
    padding-left: 40px;
    padding-right: 40px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "about-title about-title"   
        "profile-pic profile-detail";

    h1 {
        grid-area: about-title;
        justify-self: center;
        font-size: 3rem;
    }
        
    .profile-pic {
        grid-area: profile-pic;
        justify-self: center;
        align-self: center;
        
        img {
            height: 100%;
            width: 100%;    
            border-radius: 50%;
        }
    }

    .profile-detail {
        grid-area: profile-detail;
        p {
            line-height: 25px;
            padding: 10px;
        }
    }
}

// Skills
.skills {
    padding-left: 40px;
    padding-right: 40px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    // grid-template-rows: auto auto auto auto;
    grid-template-rows: repeat(4, auto);

    h1 {
        // justify-self: center;
        font-size: 3rem;
        padding-top: 50px;
    }

    .front-end, .back-end, .others {
        .icons {
            padding-top: 30px;
            padding-bottom: 30px;
            list-style: none;
            grid-gap: 20px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            
            li {
                display: grid;
                grid-template-columns: 70px auto;
                align-items: center;
                i {
                    font-size: 4rem;
                }
                p {
                    position: relative;
                    left: 25px;
                }
            }
        }
    }
}

// Footer
.footer {
    padding-left: 40px;
    padding-right: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "contact social-media";
    
    .contact { 
        grid-area: contact;
        display: grid;
        grid-template-rows: auto 230px 90px;

        h1 {
            align-self: center;
            font-size: 3rem;
        }

        .email-and-resume {
            display: flex;
            justify-content: start;
            align-self: center;
        
            

            .email {
                background-color: #fbc93d;
                border: none;
                cursor: pointer;
                color: white;
                padding: 10px 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 1rem;
                border-radius: 5px;
                align-self: center;
    
                &:hover {
                    background-color: darken(#fbc93d, 20);
                }
            }

            .resume-parent {
                padding-left: 20px;
                .resume-btn {
                    background-color: #fbc93d;
                    border: none;
                    cursor: pointer;
                    color: white;
                    padding: 10px 20px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 1rem;
                    border-radius: 5px;
                    align-self: center;
                    &:hover {
                        background-color: darken(#fbc93d, 20);
                    }
                }    
            }
            
            
        }


    }

    .social-media {
        grid-area: social-media;
        display: flex;
        justify-content: space-evenly;
        align-self: center;
        
        a{
            text-decoration: none;
            i {
                font-size: 5rem;
            }
        }
    }
    
}

// Tool Tip for email
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }


.copyright {
    padding-left: 40px;
    padding-bottom: 10px;
}

// Media queries
@media (max-width: 768px) {
    html {
        font-size: 11px;
    }

    .svg-circle,
    .logo-name {
    top: 5%;
    left: 10%;
    }
    .landing {
        grid-template-columns: [intro] 1fr;
        grid-template-rows: auto 0px;
        background-image:  none;
        .intro {
            grid-template-rows: 40vh 110px 40vh;
            grid-template-columns: [left-gutter] 50px [texts] 1fr [right-gutter] 50px;
            h1 {
                // font-size: 60px;
                justify-self: center;
            }
        }
        
    }
    // Cards
    .works {
            padding-left: 0px;
            padding-right: 0px;
        .card {
            grid-template-rows: auto auto;
            grid-template-areas: 
                "info info"
                "image_and_link image_and_link";

            .content {
                p {
                    line-height: 15px;
                }
            }
        }
    }

    // About-me
    .about {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "about-title"   
            "profile-pic"
            "profile-detail";
    }

    .footer {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "contact"
            "social-media";
    }
}
