.test {
    background-color: purple;
}

body {
    background-color: #FBFBFB;
}

p {
    font-family: 'Quicksand',sans-serif;
}

html {
    scroll-behavior: smooth;
}

hr {
    width: 50%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border-color: #CCC;;
}

/* Navbar Start */
.navbar {
    background-color: #D8FFF6;
}

.navitems {
    color: #6C7F7B;
}

/* Navbar End */
/* About Me Start */
#go2about {
    padding-top: 20px;
}

.profilePicture {
    border-radius: 50%;
    border: 7px solid #84F2DA;
    width: 250px;
    height: 250px;
    display: block;
    margin: auto;
}

.about-me h2{
    padding-top: 2rem;
    font-family: 'Quicksand',sans-serif;
    font-weight: bold;
    
}
/* About Me End */
/* Project Start*/
#go2projects {
    position: relative;
    top: -56px;
}

.projects {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    padding-bottom: 1rem;
    text-align: center;
}

.card-padding {
    padding: 1rem;   
}

.card {
    width: auto;
    height: 100%;    
}

.card:hover {
    box-shadow: 5px 10px 10px rgba(0,0,0,0.15);
}

.card-img-top {
    width: 90%;
    padding: 1em;
    margin: auto;
}

/* Project End */
/* Skills Start */
.skills {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    text-align: center;
}

.skills-icons {
    font-size: 5em;
    text-align: center;
}
/* Skills  End */
/* Internet History Start*/
#go2carousel {
    position: relative;
    top: -56px;
}


.carousel {
    width: 95%;
    height: auto;
    margin: auto;
    
}

.carousel-item img {
    width: 100%;
    height: auto; 
}

.carousel-caption {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
}

/* Internet History End */
/* Contact Me Icons Start*/
.contact-me{
    font-family: 'Quicksand',sans-serif;
    font-weight: bold;
    text-align: center;
}
.contact-icons {
    text-align:center;
}

.fa-envelope {
    font-size: 5em;
    color: #C8393B;
    padding: 10px;
    margin: 10px 30px;
}
.fa-github {
    font-size: 5em;
    color: #000;
    padding: 10px;
    margin: 10px 30px;
}

.fa-linkedin {
    font-size: 5em;
    color: #1275B1;
    padding: 10px;
    margin: 10px 30px;
}
/* Contact Me Icons End */

/* Internet Start html */
#go2internet-history {
    position: relative;
    top: -56px;
}

#go2internet-networking {
    position: relative;
    top: -56px;
}

#go2internet-tech {
    position: relative;
    top: -56px;
}
/* Internet End html */

/* Media Queries Start */


@media (max-width: 768px) {
    .carousel-caption {
        top: 55%;
    }
    .carousel-caption h3 {
        font-size: 300%;
    }
}

@media (max-width: 576px) {
    .carousel-caption {
        top: 50%;
    }
    .carousel-caption h3 {
        font-size: 230%;
    }
    .carousel-caption .btn {
        font-size: 70%;
    }
}

@media (max-width: 320px) {
    .carousel-caption {
        top: 45%;
    }
    .carousel-caption h3 {
        font-size: 150%;
    }
    .carousel-caption .btn {
        font-size: 50%;
    }
}
/* Media Queries End */




/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/