.test {
    background-color: purple;
}

body {
    background-color: #FBFBFB;
}

p {
    font-family: 'Quicksand',sans-serif;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
/* About Me Start */
.profilePicture {
    border-radius: 50%;
    border: 7px solid #84F2DA;
    width: 250px;
    height: 250x;
    display: block;
    margin: auto;
}

.about-me h2{
    padding-top: 2rem;
    font-family: 'Quicksand',sans-serif;
    font-weight: bold;
}
/* About Me End */
/* Project Start*/
.projects {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    padding-bottom: 1rem;
    text-align: center;
}

.card-padding {
    padding: 0.3rem;   
}

.card {
    width: auto;
    height: 100%;
    
}

.card-img-top {
    width: 90%;
    padding: 1em;
    margin: auto;
}

/* Project End */
/* Skills Start */
.skills {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    text-align: center;
}

.skills-icons {
    font-size: 5em;
    text-align: center;
}
/* Skills  End */
/* Internet History Start*/

.carousel slide {
    margin: 0 auto;
    
}

.carousel-inner img {
    width: 90%;
    height: auto;
}

.carousel-caption {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
}


/* Internet History End */
/* Contact Me Icons Start*/
.contact-me{
    font-family: 'Quicksand',sans-serif;
    font-weight: bold;
    text-align: center;
}
.contact-icons {
    text-align:center;
}

.fa-envelope {
    font-size: 5em;
    color: #C8393B;
    padding: 10px;
    margin: 10px 30px;
}
.fa-github {
    font-size: 5em;
    color: #000;
    padding: 10px;
    margin: 10px 30px;
}

.fa-linkedin {
    font-size: 5em;
    color: #1275B1;
    padding: 10px;
    margin: 10px 30px;
}
/* Contact Me Icons End */


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/